entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16", "python3", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]
deploymentTarget = "autoscale"

[agent]
expertMode = true
integrations = ["python_sendgrid:1.0.0", "javascript_object_storage:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FastAPI Server"

[[workflows.workflow]]
name = "FastAPI Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34693
externalPort = 5000

[[ports]]
localPort = 34733
externalPort = 3002

[[ports]]
localPort = 35355
externalPort = 4200

[[ports]]
localPort = 36845
externalPort = 8000

[[ports]]
localPort = 37333
externalPort = 6800

[[ports]]
localPort = 39423
externalPort = 3001

[[ports]]
localPort = 43905
externalPort = 6000

[[ports]]
localPort = 44593
externalPort = 3003

[[ports]]
localPort = 45307
externalPort = 5173

[[ports]]
localPort = 46859
externalPort = 3000
